:root {
    --fontfam: 'DM Sans', sans-serif;
    --pri: #b40404;
    --sec: #fcc200;
    --thr: #daa520; 
    --for: #8b0000;
    --w: #fff;
    --offw: rgba(255, 255, 255, 0.7);
    --grey: rgba(255, 255, 255, 0.5);
    --b: #000;
    --bg: #121212;
    --bg2: rgba(255, 255, 255, 0.08);
    --bg3: rgba(255, 255, 255, 0.12);
    --bg4: rgba(255, 255, 255, 0.3);
}

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    font-family: var(--fontfam);
    font-size: 18px;
}

.logo {
    max-width: 18rem;
    max-height: 18rem;
}

#favSortable {list-style-type: none; margin: 0; padding: 0; width: 60%; }

#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
/* #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#sortable li span { position: absolute; margin-left: -1.3em; } */

#watchIcon {
    max-width: 25px;
    max-height: 25px;
    cursor:pointer;
}

/* changes mouse to pointer when you hover over the favorites button */
.fa-regular {
    cursor:pointer;
}


.hover-element {
    cursor: pointer;
}