:root {
    --fontfam: 'DM Sans', sans-serif;
    --ftsize: 18px;
    --pri: #b40404;
    --sec: #fcc200;
    --thr: #daa520; 
    --for: #8b0000;
    --w: #fff;
    --offw: #b8b8b8;
    --grey: #898989;
    --b: #000;
    --bg: #121212;
    --bg2: #252525;
    --bg3: #2b2b2b;
    --bg4: #5a5a5a;
}

* {
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--bg3); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--pri); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--for); 
}

ul {
    list-style-type: none;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: var(--fontfam);
    font-size: var(--ftsize);
    color: var(--w);
    background-color: var(--bg);
    overflow: hidden;
}

header {
    background-color: var(--bg2);
    border-bottom: 2px solid var(--bg4);
    height: 10rem;
    overflow: hidden;
}

.logo {
    max-width: 22rem;
    max-height: 22rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 12rem;
}

input {
    background-color: var(--grey);
    justify-content: center;
    line-height: 2rem;
    font-family: var(--fontfam);
    font-size: var(--ftsize);
}

button {
    background-color: var(--b);
    padding: 0.6rem 1rem;
}

button:hover {
    background-color: var(--pri);
    cursor: pointer;
}

::placeholder {
    padding-left: 0.5rem;
    text-align: left;
    justify-content: center;
    color: var(--w)
}

input:focus::placeholder {
    color: transparent;
}

/* Remove the bottom margin from the columns class using !important */
.columns.is-gapless:not(:last-child) {
    margin-bottom: 0 !important;
}

#movie-list {
    background-color: var(--bg2);
    border-right: 3px solid var(--bg4);
    min-height: 100vh;
}

#title {
    font-family: var(--fontfam);
    font-size: 3rem;
}

h2 {
    margin-top: 0.5rem;
}

#postMovie {
    float: left; /* Float the postMovie div to the left */
    margin-right: 10px; /* Add some right margin to create space between postMovie and box */
    padding: 0;
}

.poster-container {
    display: flex;
    justify-content: center; /* Horizontally center the poster */
    align-items: center; /* Vertically center the poster */
}

.poster {
    max-width: 100%;
    max-height: 100%;
    margin-top: 1rem;
    margin-left: 1rem;
    display: flex;
    text-align: left;
}

#favSortable {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    width: 60%; }

#sortable { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    width: 60%; }

.icons {
    position: absolute;
    z-index: 2;
    margin-left: 2rem;
    margin-top: 2rem;
}

#watchIcon:hover {
    cursor:pointer;
}

#favIcon {
    padding-left: 0.2rem;
}

/* changes mouse to pointer when you hover over the favorites button */
#favIcon:hover {
    cursor:pointer;
}

.plot {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

/* Override Bulma's width for .column.is-8 and .column.is-8-tablet */
.column.is-8, .column.is-8-tablet {
    width: auto !important;
    flex: none !important;
}

#rating {
    margin-top: 2rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer {
    background-color: var(--bg2);
    border-top: 2px solid var(--bg4);
    min-height: 10vh;
}