:root {
    --fontfam: ;
    --c1: ;
    --w: #fff;
    --b: #000;
}

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }

#favIcon {
    max-width: 25px;
    max-height: 25px;
}